:root{
    --font-nav-primario: 'Sans-serif';
    --font-texto-link:'Noto Sans';
    --font-descricao-texto:'Open Sans';
    --font-texto-titulo:'Poppins';
    --font-nav-link :'Righteous';
    --font-texto-descricao:'Roboto';
    --font-texto-segunda-descricao:'Cursive';
    --font-secao-sobre: 'Montserrat';
    --font-nav-links: 'Verdana';   
    --font-secao-habilidades: 'Arial';
    --color-font-verde: #00cc66;
    --color-font-azul: #0dccff;
    --color-font-azul-claro: #4760ff;
    --color-font-roxo: #5a01a7;
    --color-font-preto-claro: #1b1b32;
    --color-font-preto-escuro: #000000;
    --color-font-cinza-claro: #414345;
    --color-font-cinza-escuro: #232526;
    --color-font-cinza-escuro: #9a8478;
    --color-font-verde: #00cc66;
    --color-font-azul: #0dccff;
    --color-font-azul-claro: #4760ff;
    --color-font-roxo: #5a01a7;
    --color-font-preto-claro: #1b1b32;
    --color-font-preto-escuro: #000000;
    --color-font-cinza-claro: #414345;
    --color-font-cinza-escuro: #232526;
    --color-font-cinza-escuro: #9a8478;
    --color-font-branco: #FDF7FF;
    --color-font-azul-marinho: #342056;
    --color-font-azulm: #8880FE;
    --cor-de-fundo-: background-color: rgb(34, 34, 34);
    --color-font-rgba: rgba(101, 24, 180, 1);

}