@import url('/assets/CSS/nav.css');
@import url('/assets/CSS/perfil.css');
@import url('/assets/CSS/sobre.css');
@import url('/assets/CSS/secaoHabilidades.css');
@import url('/assets/CSS/rodape.css');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
} 

/***PARTE CABEÇALHO NAV**/

/***FOTO***/


/***SEÇÃO SOBRE***/

/***SEÇÃO ESPECIALIDADES***/


/***RODAPÉ PERFIL***/



