nav{
    padding: 0.4rem;
    background-image: linear-gradient(to right, #0e0e0e, #140f23, #180f35, #1f0b47, #2a0058);
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
  }

  .linha-nav{
    width: 40%;
  }
  
  .linha-nav:hover{
    transition:3s;
    width: 50%;
    background-color: #00cc66;
  }
  
  .list-contact-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.7rem;
  }
  
  .links-nav{
    font-family: 'Verdana';
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #999;
    padding: 0.7rem;
    text-shadow: 2px 2px 2px 2px ;
    transition: all;
  }
  
  .links-nav:hover{ 
    transition: ease-in-out 0.5s;
    border-radius: 100%;
    padding: 0.9rem;
    color: white;
  }
  
  .contact-perfil-nav{
    list-style: none;
    margin: 0 25px 0 20px;
  } 

  .content{
    margin-right: 26%;
    list-style-type: none;
    color: white;
  }
   