header{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 650px;
    min-width: 840px;
    background-image: linear-gradient(to right, #0e0e0e, #140f23, #180f35, #1f0b47, #2a0058);
  }

  .foto{
    box-shadow: 50px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    padding: 1rem 0;
  }
   
  .foto-perfil{
    text-align: center;
  }

  .title-sobre{
    font-size: 3rem;
    color:#414345;
  }
