footer{  
    /* background-color: #5a01a7; */
    background-color: #1b1b32;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copywrite{
    color: white;
    height: 20px;
    width: 30px;
  }