
.secao-conteudo-habilidades{
  border: 2px solid white;
  width:100vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #151515;

}

.secao-icones-habilidades{
  display: flex;
  align-items: center;
  justify-content: center;
}

.secao-lista-icones{
  display: flex;
  align-items: center;
}

.secao-imagens-icones{
  width: 120px;
  height: 120px;
}

.imagens-icones{
  width: 90px;
  height: 90px;
}

.secao-lista-icones{
  display: flex;
  align-items: center;
}
.lista-habilidades{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
