.secao-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-habilidades{
    text-align: center;
  }
  
  .secao-container{
    width: 100%;
    height: 100vh;
  }
  
  .secao-especialidades-icones{
    border-radius: 30%;
    width: 70px;
    height: 60px; 
  }
  
  .secao-especialidades-services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
  }
   
  .secao-descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .secao-especialidades-descricao{
    text-align: center;
    color: black;
    font-family: 'Arial';
   
  }