.secao-titulo-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    /* padding-top: 10px; */
    height: 95vh;
    background-color: #171717;
    /* background-color: rgb(34, 34, 34); */
    /* background-color: #151515; */
    /* border: 1px solid #fff; */
    min-width: 890px;
    box-sizing: border-box;
    width: 100vw;
  }

.secao-titulo{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 20px;
  width: 380px;
  text-align: left;
  transition: 2s ease-in-out;
  cursor: pointer;
  padding: 20px;
}
.secao-titulo:hover{
  transform: translatex(-3rem);
}


.secao-titulo-bem-vindo{
  font-size: 1rem;
  color: #fff;
  font-family:var(--font-texto-descricao);
  margin-left: 10px;
}

.secao-titulo-principal{
  color: #8880FE;
  font-size: 3.3rem;
  font-family: var(--font-nav-link);
  line-height: 100%;
  padding: 20px;
  text-align: left;
}


.secao-logo-principal{
  width: 590px;
  height: 560px;
  padding: 10px 0;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.3;
  border: 2px solid dotted #8880FE;
  transition: 2s ease-in-out;
}


.secao-logo-principal:hover{
  padding: 2px;
  opacity: 1;
  transform: translatex(4rem);
}


.secao-botao-principal{
  margin-right: 35%;
  padding: 15px 0;
}
.secao-botao{
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 0 2rem;
  font-family: var(--font-texto-link);
  font-weight: 300;
  text-decoration: none;
  margin-right: 6.4rem; 
  width: 60%;
  height: 30px;
  background-color: #171717;
  text-align: center;
  transition: 1s ease-in-out;
  border: 1px solid #8880FE;
  color: #fff;
}


.secao-botao:hover{
  background-color:  rgba(101, 24, 180, 1);
}