.sobre-mim{
    margin: 0;
    text-align: center;
    padding: 5px;
    font-family: 'Arial';
    font-size: 18px;
    text-transform: lowercase;
    color: black;
  }
  .secao-sobre{
    /* background-color: #0dccff; */
    padding: 2rem;
   font-family: 'monospace';
   font-size: 2.1rem; 
  }

  article{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }