main.secao-conteudo{
  min-height: 850px;
  min-width: 880px;
  padding-top: 15px;
} 

  

h2.titulo-sobre{
  text-align: center;
  color: #fff;
  border-bottom: 0.7px solid #999;
  width: 30%;
  padding: 10px;
}

p.quem-sou{
  font-family: var(--font-secao-sobre);
  padding: 20px 0; 
  color: #fff;
  text-align: center;
}

.img-sobre{
  width: 450px;
  height: 450px;
}

.secao-bio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 40px;
  /* background-color: #171717; */
  background-color: rgb(34, 34, 34);
}

.secao-bio-contato{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

section.secao-descricao-sobre{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #3a4042;
  padding: 45px;
  height: 60vh;
  border: 1px solid white;
}

h1.secao-escrito-bio{
  color: #8880FE;
}

p.secao-escrito-sobre{
  text-align: center;
}

.secao-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.secao-conteudo-principal{
  background-color: #171717;
}

img.contato-social{
  width: 50%;
  height: 10%;
  background-color: #fff;
  border-radius: 15px;
  border: none;
  outline: none;
}

div.logo-social{
  background-color: var(--color-font-roxo);
  width:40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  border-radius: 30px;
}

span.contato-icone{
  color: #fff;
}

